#Ignore the output folders created during the quality control analysis 01_QC_reads.sh
fastQC_*
multiQC_*
*.fastq.gz
*.fa
*.gtf.gz
*.ht2
*.sam
*.bam
*.bai
*.txt
*.txt.summary
test*
*.gtf
#Ignore job output files
*.out
*.tmp
